<!DOCTYPE html>
<html lang="es">

<head>
    <title>Asignaturas</title>
    <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>
<div th:replace="~{fragmentos/general.html :: navigation}"> </div>
<div class="container m-3">
    <form class="row"
          th:action="@{/asignaturas/delete/}+${asignatura.id}"
          th:object="${Asignatura}"
          method="post">

        <div class="mb-3">
            <label class="form-label" for="nombre">Nombre de la asignatura:</label>
            <label>
                <input class="form-control" name="nombre" placeholder="Escriba aquí el nombre"/>
            </label>
        </div>
        <div class="mb-3">
            <label class="form-label" for="curso">Curso:</label>
            <label>
                <input class="form-control" name="cp" placeholder="Escriba aquí el curso"/>
            </label>
        </div>
        <div class="mb-3">
            <label class="form-label" for="ciclo">Ciclo:</label>
            <label>
                <input class="form-control" name="ciclo" placeholder="Escriba aquí el ciclo"/>
            </label>
        </div>

        <div>
            <button class="btn btn-success mt-3" type="submit">Enviar</button>
        </div>
    </form>
</div>
<div th:replace="~{fragmentos/general.html :: footer}"></div>
</body>

</html>