<!DOCTYPE html>
<html lang="es">

<head>
    <title>Gestión Alumnos</title>
    <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>

<div th:replace="~{fragmentos/general.html :: navigation}"></div>
<div class="container">
    <h3>Lista de alumnos</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Teléfono</td>
            <td>Username</td>
            <td>Acciones</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="alumno: ${alumnos}">
            <td th:text="${alumno.nombre}"></td>
            <td th:text="${alumno.apellido}"></td>
            <td th:if="${#lists.size(alumno.telefonos) == 0}">
                <a class="btn btn-primary" th:href="|/alumnos/${alumno.id}/telefonos/add|">Añadir Teléfono</a>
            </td>
            <td th:unless="${#lists.size(alumno.telefonos) == 0}">
                <div th:each="telefono : ${alumno.telefonos}">
                    (+<span th:text="${telefono.codigoPais}"></span>)
                    <span th:text="${telefono.numero}"></span>
                </div>
            </td>
            <td th:text="${alumno.username}"></td>
            <td>
                <a class="btn btn-success" th:href="|/alumnos/edit/${alumno.id}|">Editar</a>
                <a class="btn btn-danger" th:href="|/alumnos/delete/${alumno.id}|">Borrar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:replace="~{fragmentos/general.html :: footer}"></div>
</div>
</body>

</html>