<!DOCTYPE html>
<html lang="es">

<head>
    <title>Editar un profesor</title>
    <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>

<div th:replace="~{fragmentos/general.html :: navigation}"></div>

<div class="container">
    <h3>Editar profesor:</h3>

    <form method="post" th:action="|/profesores/add|" th:object="${profesor}">
        <label>
            <input hidden th:field="${profesor.id}"/>
        </label>
        <div class="border">
            <div class="row g-3 m-2">
                <div class="col-md-6">
                    <label class="form-label">Nombre: </label>
                    <label>
                        <input class="form-control" th:field="*{nombre}" type="text"/>
                    </label>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Apellido: </label>
                    <label>
                        <input class="form-control" th:field="*{apellido}" type="text"/>
                    </label>
                </div>
            </div>
        </div>
        <div class="border">
            <div class="row g-3 m-2">
                <div class="col-md-4">
                    <label class="form-label">Nombre de profesor: </label>
                    <input class="form-control" th:field="*{username}" type="text"/>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Email:</label>
                    <label>
                        <input class="form-control" name="email" th:field="*{email}" type="email"/>
                    </label>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Contraseña:</label>
                    <label>
                        <input class="form-control" th:field="*{password}" type="password"/>
                    </label>
                </div>
            </div>
        </div>
        <div class="border">
            <div class="row g-3 m-2">
                <div class="col-md-4">
                    <div class="justify-content-center text-center">
                        <label class="form-label">Roles:
                            <select class="form-select" multiple="multiple" th:field="*{roles}">
                                <option th:each="rol : ${roles}"
                                        th:selected="${#lists.contains(profesor.roles, rol)} ? 'selected' : 'false'"
                                        th:text="${rol.nombre}"
                                        th:value="${rol.id}">
                                </option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
            <div class="border">
                <div class="row g-3 m-2">
                    <div class="col-md-6">
                        <button class="btn btn-success" type="submit">Actualizar profesor</button>
                        <a class="btn btn-danger" href="/profesores">Cancelar cambios</a>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div th:replace="~{fragmentos/general.html :: footer}"></div>

</div>
</body>

</html>