<!DOCTYPE html>
<html lang="es">

<head>
    <title>Gestión profesores</title>
    <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>

<div th:replace="~{fragmentos/general.html :: navigation}"></div>
<div class="container">
    <h3>Lista de profesores</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Teléfono</td>
            <td>Username</td>
            <td>Acciones</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="profesor: ${profesores}">
            <td th:text="${profesor.nombre}"></td>
            <td th:text="${profesor.apellido}"></td>
            <td th:text="${profesor.username}"></td>
            <td>
                <a class="btn btn-success" th:href="|/profesores/edit/${profesor.id}|">Editar</a>
                <a class="btn btn-danger" th:href="|/profesores/delete/${profesor.id}|">Borrar</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:replace="~{fragmentos/general.html :: footer}"></div>
</div>
</body>

</html>