<!DOCTYPE html>
<html lang="es">

<head>
    <title>Añadir Asignaturas</title>
    <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>
<div th:replace="~{fragmentos/general.html :: navigation}"></div>
<div class="container m-3">
    <p>Añadiendo una asignatura al alumno:
        <span th:text="${alumno.nombre}"></span>
        <span th:text="${alumno.apellido}"></span>
        (<span th:text="${alumno.username}"></span>)
    </p>
    <form class="row" method="post" th:action="@{|/alumnos/${alumno.id}/asignaturas/add|}" th:object="${asignatura}">
        <!-- <input th:field="*{id}" type="hidden" /> -->
        <!-- <input th:field="*{alumno.id}" type="hidden" />  -->
        <div class="mb-3">
            <label class="form-label" for="nombre-asignatura">Nombre de la asignatura</label>
            <label>
                <input class="form-control" name="nombre-asignatura" placeholder="Escribe el nombre de la asignatura" th:field="*{nombre}"
                       type="text"/>
            </label>
        </div>
        <div class="mb-3">
            <label class="form-label" for="curso">Curso de la asignatura</label>
            <label>
                <input class="form-control" name="curso-asignatura" placeholder="Escriba el curso de la asignatura" th:field="*{curso}"
                       type="number"/>
            </label>
        </div>
        <div class="mb-3">
            <label class="form-label" for="ciclo">Ciclo de la asignatura</label>
            <label>
                <input class="form-control" name="ciclo-asignatura" placeholder="Escriba el ciclo de la asignatura" th:field="*{ciclo}"
                       type="text"/>
            </label>
        </div>
        <div>
            <button class="btn btn-success mt-3" type="submit">Enviar</button>
        </div>
    </form>
</div>
<div th:replace="~{fragmentos/general.html :: footer}"></div>
</body>
</html>