<!DOCTYPE html>
<html lang="es">

<head>
    <title>Registro General: Gestión teléfonos</title>
    <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>
<div th:replace="~{fragmentos/general.html :: navigation}"></div>
<p>Editando el teléfono para el usuario
    <span th:text="${usuario.username}"></span>:
</p>
<div class="container m-3">
    <form class="row"
          method="post"
          th:object="${telefono}">
        <!-- <input hidden th:field="*{telefono.usuario}"/> -->
        <div class="mb-3">
            <label class="form-label">Código de país (sin el símbolo +):</label>
            <label>
                <input class="form-control" name="codigoPais"
                       placeholder="Código del País, ej: 34" th:field="*{telefono.codigoPais}"
                       type="number"/>
            </label>
        </div>

        <div class="mb-3">
            <label class="form-label">Número de telefono (sin espacios):</label>
            <label>
                <input class="form-control" name="numero"
                       placeholder="Escriba aquí el teléfono" th:field="*{telefono.numero}"
                       type="number"/>
            </label>
        </div>

        <div>
            <button class="btn btn-success mt-3" type="submit">Enviar</button>
        </div>
    </form>
</div>
<div th:replace="~{fragmentos/general.html :: footer}"></div>
</body>

</html>